src/main/resources/wsdl/CardService_v8_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2024-2025 gematik. Alle Rechte vorbehalten.                                 -->
<!-- ===================================================================== -->
<!-- Version History
            version: V8.2.1
            * Parameter von SecureSendAPDU angepasst an spezifisches Format für PoPP. xs:choice für zukünftige Erweiterungen verwendet.
            * Rückgabeparameter CONN:Status bei StartCardSession hinzugefügt
            * Eingabeparameter SignatureObject, X509Certificate bei SecureSendAPDU entfernt
            version: V8.2.0
            * Operationen SecureSendAPDU, StartCardSession, StopCardSession hinzugefügt
            version: V8.1.3
            * PinStatus DISABLED ergänzt
            version: V8.1.2
            * ORS2.1:
            * EnablePIN, DisablePIN
              version: V8.1.1
            * Operation AuthorizeSMC entfernt 
               (kompatible Änderung aus Sicht des Clientsystems, da AuthorizeSMC immer mit einem Fehler geantwortet hat)
            version: V8.1.0
            * CardVersion: Anpassung an G2-Karten
            * ProductInformation update auf Version 1.1.0	 End of Version History-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:CARD="http://ws.gematik.de/conn/CardService/v8.2" xmlns:CARDCMN="http://ws.gematik.de/conn/CardServiceCommon/v2.0" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:PI="http://ws.gematik.de/int/version/ProductInformation/v1.1" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:CERTCMN="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0" targetNamespace="http://ws.gematik.de/conn/CardService/v8.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.2.1">
    <annotation>
        <documentation xml:lang="de">
            Copyright (c) 2024-2025, gematik GmbH. Alle Rechte vorbehalten.
            Beschreibung: Dienst zur Verwaltung der Karten
        </documentation>
    </annotation>
    <import namespace="urn:oasis:names:tc:dss:1.0:core:schema" schemaLocation="../ext/oasis-dss-core-schema-v1.0-os.xsd"/>
    <import namespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" schemaLocation="ConnectorCommon.xsd"/>
    <import namespace="http://ws.gematik.de/tel/error/v2.0" schemaLocation="../tel/error/TelematikError.xsd"/>
    <import namespace="http://ws.gematik.de/conn/CardServiceCommon/v2.0" schemaLocation="CardServiceCommon.xsd"/>
    <import namespace="http://ws.gematik.de/int/version/ProductInformation/v1.1" schemaLocation="../tel/version/ProductInformation.xsd"/>
    <import namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0" schemaLocation="ConnectorContext.xsd"/>
    <import namespace="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0" schemaLocation="CertificateServiceCommon.xsd"/>
    <element name="Pin" type="CARD:PinType"/>
    <element name="Puk" type="CARD:PinType"/>
    <element name="OldPin" type="CARD:PinType"/>
    <element name="NewPin" type="CARD:PinType"/>
    <element name="Kvnr">
        <simpleType>
            <restriction base="CARDCMN:KvnrType">
                <length value="10"/>
            </restriction>
        </simpleType>
    </element>
    <element name="CardHolderName" type="string"/>
    <element name="CertificateExpirationDate" type="date"/>
    <simpleType name="RequestCardResultEnum">
        <restriction base="string">
            <enumeration value="ERROR"/>
            <enumeration value="OK"/>
            <enumeration value="ALREADY_INSERTED"/>
        </restriction>
    </simpleType>
    <simpleType name="PinStatusEnum">
        <restriction base="string">
            <enumeration value="VERIFIED"/>
            <enumeration value="TRANSPORT_PIN"/>
            <enumeration value="EMPTY_PIN"/>
            <enumeration value="BLOCKED"/>
            <enumeration value="VERIFIABLE"/>
            <enumeration value="DISABLED"/>
        </restriction>
    </simpleType>
    <simpleType name="PinType">
        <restriction base="string">
            <maxLength value="256"/>
        </restriction>
    </simpleType>
    <simpleType name="CommonStepsEnum">
        <annotation>
            <documentation>
                Arbeitsschritte, die von allen Fachanwendungen genutzt
                werden können
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="CheckCardHandle"/>
            <enumeration value="VerifyPin"/>
            <enumeration value="VerifyEhcPin"/>
            <enumeration value="VerifyHpcPin"/>
            <enumeration value="VerifySmcPin"/>
            <enumeration value="WriteToEhc"/>
            <enumeration value="ReadFromEhc"/>
            <enumeration value="Logging"/>
            <enumeration value="CheckEhcBlocking"/>
            <enumeration value="FullfillAccessConditions"/>
            <enumeration value="CardToCard"/>
        </restriction>
    </simpleType>
    <complexType name="VersionInfoType">
        <sequence>
            <element name="Major" type="unsignedShort"/>
            <element name="Minor" type="unsignedShort"/>
            <element name="Revision" type="unsignedShort"/>
        </sequence>
    </complexType>
    <complexType name="CardInfoType">
        <sequence>
            <element ref="CONN:CardHandle"/>
            <element ref="CARDCMN:CardType"/>
            <element name="CardVersion" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="COSVersion" type="CARD:VersionInfoType"/>
                        <element name="ObjectSystemVersion" type="CARD:VersionInfoType"/>
                        <element name="CardPTPersVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                        <element name="DataStructureVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                        <element name="LoggingVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                        <element name="ATRVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                        <element name="GDOVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                        <element name="KeyInfoVersion" type="CARD:VersionInfoType" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element ref="CARDCMN:Iccsn" minOccurs="0"/>
            <element ref="CARDCMN:CtId"/>
            <element ref="CARDCMN:SlotId"/>
            <element name="InsertTime" type="dateTime"/>
            <element ref="CARD:CardHolderName" minOccurs="0"/>
            <element ref="CARD:Kvnr" minOccurs="0"/>
            <element ref="CARD:CertificateExpirationDate" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="CardInfoErrType">
        <complexContent>
            <extension base="CARD:CardInfoType">
                <sequence>
                    <element ref="GERROR:Error" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Cards">
        <complexType>
            <sequence>
                <element ref="CARD:Card" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="Card" type="CARD:CardInfoType"/>
    <element name="VerifyPin">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
            </sequence>
        </complexType>
    </element>
    <element name="VerifyPinResponse" type="CARDCMN:PinResponseType"/>
    <element name="ChangePin">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
            </sequence>
        </complexType>
    </element>
    <element name="ChangePinResponse" type="CARDCMN:PinResponseType"/>
    <element name="GetPinStatus">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
            </sequence>
        </complexType>
    </element>
    <element name="GetPinStatusResponse">
        <complexType>
            <sequence>
                <element ref="CONN:Status"/>
                <element name="PinStatus" type="CARD:PinStatusEnum" minOccurs="0"/>
                <element name="LeftTries" type="nonNegativeInteger" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="UnblockPin">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
                <element name="SetNewPin" type="boolean" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="UnblockPinResponse" type="CARDCMN:PinResponseType"/>
    <element name="EnablePin">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
            </sequence>
        </complexType>
    </element>
    <element name="EnablePinResponse" type="CARDCMN:PinResponseType"/>
    <element name="DisablePin">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
                <element ref="CARDCMN:PinTyp"/>
            </sequence>
        </complexType>
    </element>
    <element name="DisablePinResponse" type="CARDCMN:PinResponseType"/>
    <element name="StartCardSession">
        <complexType>
            <sequence>
                <element ref="CCTX:Context"/>
                <element ref="CONN:CardHandle"/>
            </sequence>
        </complexType>
    </element>
    <element name="StartCardSessionResponse">
        <complexType>
            <sequence>
                <element ref="CONN:Status"/>
                <element ref="CARD:SessionId"/>
            </sequence>
        </complexType>
    </element>
    <element name="SecureSendAPDU">
        <complexType>
            <choice>
                <element name="SignedScenario" type="CARD:SignedScenarioType"/>
            </choice>
        </complexType>
    </element>
    <simpleType name="SignedScenarioType">
        <restriction base="string">
            <maxLength value="750000"/>
            <pattern value="[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+"/>
        </restriction>
    </simpleType>
    <element name="SecureSendAPDUResponse">
        <complexType>
            <sequence>
                <element ref="CONN:Status"/>
                <choice>
                    <element name="SignedScenarioResponse" type="CARD:SignedScenarioResponseType"/>
                </choice>
           </sequence>
        </complexType>
    </element>
    <complexType name="SignedScenarioResponseType">
        <sequence>
            <element name="ResponseApduList">
                <complexType>
                    <sequence>
                        <element name="ResponseApdu" minOccurs="0" maxOccurs="unbounded">
                            <simpleType>
                                <restriction base="string">
                                    <maxLength value="10000"/>
                                    <pattern value="([0-9a-fA-F]{2}){2,}"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>   
            </element>
            <element name="TimeSpan" type="nonNegativeInteger"/>
        </sequence>
    </complexType>
    <element name="StopCardSession">
        <complexType>
            <sequence>
                <element ref="CARD:SessionId"/>
            </sequence>
        </complexType>
    </element>
    <element name="StopCardSessionResponse">
        <complexType>
            <sequence>
                <element ref="CONN:Status"/>
            </sequence>
        </complexType>
    </element>
    <element name="SessionId">
        <simpleType>
            <restriction base="string">
                <maxLength value="64"/>
            </restriction>
        </simpleType>
    </element>
</schema>